$black: #000000;
$white-smoke: #d1d5db;
$white: #e5e7eb;
$bright: #ffffff;

$aqua: #00f0ff;
$bright-aqua: #67f7ff;
$pink: #ff007f;
$bright-pink: #ff4da6;
$background: #030509;
$bright-background: #030509;

@mixin basic-colors {
    --basic-black:#{$black};
    --basic-bright:#{$white};
    --basic-white:#{$white-smoke};
    --basic-pink:#{$bright-pink};
    --basic-aqua:#{$bright-aqua};
    --basic-background:#{$background};
}

@mixin dark-colors {
    --basic-bright:#{$bright};
    --basic-white:#{$white};
    --basic-pink:#{$pink};
    --basic-aqua:#{$aqua};
    --basic-background:#{$bright-background};
}

html,
body {
    @include basic-colors;

    &[theme="dark"] {
        @include dark-colors;
    }

    @media (prefers-color-scheme: dark) {
        &:not([theme='light']) {
            @include dark-colors;
        }
    }

    color: var(--basic-white, $white-smoke);
    background-color: var(--basic-black, $black);
}

::selection {
    background-color: $pink;
    color: $bright;
}
