.highlight {
    background: var(--basic-background);
    padding: 1px 3px;
    color: var(--basic-white); // color: var(--basic-white);

    .highlighter-rouge & {
        background: color-mix(in srgb, var(--basic-background), #000 15%);

    }

    /* Comment */
    .c,
    /* Comment.Single */
    .c1,
    /* Comment.Multiline */
    .cm,
    /* Comment.Preproc */
    .cp,
    /* Comment.Special */
    .cs {
        color: color-mix(in srgb, var(--basic-white), var(--basic-black) 30%);
    }

    /* Keyword */
    .k,
    /* Keyword.Constat */
    .kc,
    /* Keyword.Declration */
    .kd,
    /* Keyword.Pseudo */
    .kp,
    /* Keyword.Reserved */
    .kr,
    /* Keyword.Type */
    .kt,
    /* Keyword.Type */
    .kt {
        color: color-mix(in srgb, var(--basic-pink), var(--basic-white) 50%);
    }

    /* Name.Attribute */
    .na {
        color: color-mix(in srgb, var(--basic-pink), var(--basic-white) 75%);
    }

    /* Name.Constant */
    .no {
        color: color-mix(in srgb, var(--basic-aqua), var(--basic-white) 75%);
    }

    /* Error */
    .err {
        background-color: color-mix(in srgb, var(--basic-pink), var(--basic-black) 50%);
        color: var(--basic-white);
    }


    /* Operator */
    .o,
    /* Operator.Word */
    .ow {
        color: color-mix(in srgb, var(--basic-white), var(--basic-aqua) 30%);
    }

    /* Name.Builtin */
    .nb,
    /* Name.Class */
    .nc,
    /* Name.Exception */
    .ne,
    /* Name.Function */
    .nf,
    /* Name.Entity */
    .ni,
    /* Name.Namespace */
    .nn,
    /* Name.Tag */
    .nt,
    /* Name.Variable */
    .nv,
    /* Name.Function */
    .nx,
    /* Name.Variable.Class */
    .vc,
    /* Name.Variable.Global */
    .vg,
    /* Name.Variable.Instance */
    .vi {
        color: color-mix(in srgb, var(--basic-white), var(--basic-pink) 15%);
    }

    /* Literal.String */
    .s,
    /* Literal.String.Single */
    .s1,
    /* Literal.String.Double */
    .s2,
    /* Literal.String.Backtick */
    .sb,
    /* Literal.String.Char */
    .sc,
    /* Literal.String.Doc */
    .sd,
    /* Literal.String.Escape */
    .se,
    /* Literal.String.Heredoc */
    .sh,
    /* Literal.String.Interpol */
    .si,
    /* Literal.String.Regex */
    .sr,
    /* Literal.String.Symbol */
    .ss,
    /* Literal.String.Other */
    .sx {
        color: var(--basic-aqua);
    }

    /* Literal.Number */
    .m,
    /* Literal.Number.Float */
    .mf,
    /* Literal.Number.Hex */
    .mh,
    /* Literal.Number.Integer */
    .mi,
    /* Literal.Number.Oct */
    .mo {
        color: color-mix(in srgb, var(--basic-aqua), var(--basic-pink) 50%);
    }


    /* Name.Builtin.Pseudo */
    .bp,
    /* Generic.Deleted.Specific */
    .gd .x,
    /* Generic.Deleted */
    .gd,
    /* Generic.mph */
    .ge,
    /* Generic.Heading */
    .gh,
    /* Generic.Inserted */
    .gi,
    /* Generic.Inserted.Specific */
    .gi .x,
    /* Generic.Output */
    .go,
    /* Generic.Prompt */
    .gp,
    /* Generic.Error */
    .gr,
    /* Generic.Strong */
    .gs,
    /* Generic.Traceback */
    .gt,
    /* Generic.Subheading */
    .gu,
    /* Literal.Number.Integer.Long */
    .il,
    /* Text.Whitespace */
    .w {
        color: var(--basic-white);
    }
}